#decisionMaker {
  height: 100vh;
  background: rgba(#130128, 0.65);

  .title {
    padding-top: 130px;
    text-align: center;
    color: white;
    font-size: 24px;
  }

  .title h1 {
    font-family: Lato-Bold;
  }

  .title p {
    font-family: Lato-Light;
  }

}
